body{
    width:960px;
    text-align:center;
}

#contentarea {
    width:100%;
    margin:0 auto;
    background-color:#e5e5e5;
}

#fwbb {
    background-color:#393939;
    background-image: url('../img/background.jpg');
    margin:0 auto;
    width:850px;
    height:300px;
    overflow:hidden;
}

#border {
    background-color:transparent;
    background-image: url('../img/border.png');
    -webkit-animation: border_stamp 0.5s ease-in 0.5s 1 forwards;
    width:850px;
    height:300px;
    opacity:0;
}

#copy {
    background-color:transparent;
    background-image: url('../img/copy.png');
    -webkit-animation: copy_stamp 0.5s ease-in 1.2s 1 forwards;
    width:850px;
    height:300px;
    margin-top:-300px;
    opacity:0;
}

@-webkit-keyframes border_stamp {
    0% {
        opacity:0;
        -webkit-transform: scale(.01,.01);
    }
    25%{
        opacity:.5;
    }
    50% {
        opacity:.7;
    }
    75% {
        -webkit-transform: scale(1.2,1.2);
        opacity:1;
    }
    100% {
        -webkit-transform: scale(1,1);
        opacity:1;
    }
}

@-webkit-keyframes copy_stamp {
    0% {
        opacity:0;
        -webkit-transform: scale(.01,.01);
    }
    25%{
        opacity:.5;
    }
    50% {
        opacity:.7;
    }
    75% {
        -webkit-transform: scale(1.2,1.2);
        opacity:1;
    }
    100% {
        -webkit-transform: scale(1,1);
        opacity:1;
    }
}

/*#box {
    opacity:0;
    position:absolute;
    top:200px;
    left:50%;
    background-color:#0b0b0b;
    width:100px;
    height:100px;
    -webkit-animation: animate_box 0.3s ease-in 0s 1 forwards;
}

@-webkit-keyframes animate_box {
    0% {
        -webkit-transform: scale(.01,.01);
    }
    25%{
        opacity:.5;
    }
    50% {
        opacity:.7;
    }
    75% {
        -webkit-transform: scale(5,5);
        opacity:1;
    }
    100% {
        -webkit-transform: scale(4,4);
        opacity:1;
    }
}*/